[sublime-sdk-v2](../README.md) / [Modules](../modules.md) / api/verification

# Module: api/verification

## Table of contents

### References

- [VerificationAPI](api_verification.md#verificationapi)

## References

### VerificationAPI

Re-exports [VerificationAPI](../classes/api_verification.VerificationAPI.md)
