[sublime-sdk-v2](../README.md) / [Modules](../modules.md) / wrappers/Verification

# Module: wrappers/Verification

## Table of contents

### Classes

- [Verification](../classes/wrappers_Verification.Verification.md)

### Interfaces

- [VerificationInterface](../interfaces/wrappers_Verification.VerificationInterface.md)
